USE [master]
GO
/****** Object:  Database [db_CopyRight]    Script Date: 2017/01/11 03:27:49 ق.ظ ******/
CREATE DATABASE [db_CopyRight]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_CopyRight', FILENAME = N'D:\db_CopyRight.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [FS_Data] CONTAINS FILESTREAM  DEFAULT
( NAME = N'Fs_CopyRight', FILENAME = N'D:\Fs_CopyRight' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'db_CopyRight_log', FILENAME = N'D:\db_CopyRight_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_CopyRight].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_CopyRight]
GO
/****** Object:  UserDefinedFunction [dbo].[GetFileType]    Script Date: 2017/01/11 03:27:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetFileType](@fileName nvarchar(Max)) RETURNS nvarchar(300) AS BEGIN DECLARE @Index int; SET @Index = CHARINDEX('.', REVERSE(@fileName)) - 1; IF(@Index < 1) RETURN N'Unknown';	RETURN RIGHT(@fileName, @Index) END

GO
/****** Object:  Table [dbo].[tbl_FileStores]    Script Date: 2017/01/11 03:27:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_FileStores](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[FileStoreId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[HashSum] [char](32) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[MimeType] [nvarchar](300) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[FileData] [varbinary](max) FILESTREAM  NULL,
	[FileType]  AS ([dbo].[GetFileType]([FileName])),
	[FileSize]  AS (datalength([FileData])),
 CONSTRAINT [PK_tbl_FileStores] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY] FILESTREAM_ON [FS_Data],
 CONSTRAINT [IX_tbl_FileStores] UNIQUE NONCLUSTERED 
(
	[FileStoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [FS_Data]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbl_FileStores] ADD  CONSTRAINT [DF__tbl_FileS__FileS__398D8EEE]  DEFAULT (newsequentialid()) FOR [FileStoreId]
GO
ALTER TABLE [dbo].[tbl_FileStores] ADD  CONSTRAINT [DF__tbl_FileS__Creat__403A8C7D]  DEFAULT (getdate()) FOR [CreationTime]
GO
USE [master]
GO
