<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
  <connectionStrings>
    <clear/>
    <add name="DefaultConnection" connectionString="data source=.;initial catalog=db_CopyRight;integrated security=True;multipleactiveresultsets=True;application name=DoctorCode_CopyRightDetector" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>